<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Album list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
         <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    
</head>
<body>
	<h1>Albums</h1>
	<div sec:authorize="hasRole('USER')">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table class="table table-striped">
		<tr>
		    <th>Album title</th>
		    <th>Collaborators</th>
		   <th>Edit album</th>
		    
		    
		    <th sec:authorize="hasRole('USER')"> </th>
		</tr>  
    	<tr th:each = "album : ${albums}">
    		<td> <a th:text="${album.title}" th:href="@{|/songlist/${album.albumId}|}"></a></td>
    		<td th:text="${album.collaborator}"></td>
    	
    	
			<td sec:authorize="hasAuthority  ('USER')"><a th:href="@{/delete/{id}(id=${album.albumId})}" class="btn btn-danger">Delete</a></td>  			
			<td><a th:href="@{/editalbum/{id}(id=${album.albumId})}">Edit</a></td>      		
    	</tr>
     </table>
	 <a href="/addalbum">Add album</a> 
	     	
	  	
</body>
</html>