<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Projects</h1>
	<div sec:authorize="hasRole('USER')">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table class="table table-striped">
		<tr>
		    <th>Name of the band</th>
		    <th>Member count</th>
		    <th>Year founded</th>
		    <th>Year disbanded</th>
		    <th>Labels</th>
		     <th>Edit</th>
		     <th>Delete</th>
		     
		    
		    
		   <th sec:authorize="hasRole('ADMIN')"> </th>
		</tr>  
    	<tr th:each = "band : ${bands}">
    		<td th:text="${band.bandName}"></a></td>
    		<td th:text="${band.memberCount}"></td>
    		<td th:text="${band.foundYear}"></td>
    		<td th:text="${band.endYear}"></td>
    		 <td th:text="${band.labelCompany}"></td>
    		 <td><a th:href="@{/editband/{id}(id=${band.bandId})}">Edit</a></td> 
    		<td sec:authorize="hasAuthority  ('ADMIN')"><a th:href="@{/deleteBand/{bandId}(id=${band.bandId})}" class="btn btn-xs btn-danger">Delete</a></td>  			
			     		
    	</tr>
     </table>
	 <a href="/addband">Add project</a>
	 <a href="/albumlist">See albums</a>    	
	     	
</body>
</html>