<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit album</h1>
	<div>
		<form th:object="${album}" th:action="@{../savealbum}" action="#" method="post">
		<input type="hidden" th:field="*{albumId}" class="form-control"/>
		  	<label for="title">Album title</label>
			<input type="text" id="title" th:field="*{title}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="collaborator">Collaborators</label>
			<input type="text" id="collaborator" th:field="*{collaborator}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
			
			
    		
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>