<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit project</h1>
	<div>
		<form th:object="${band}" th:action="@{../save}" action="#" method="post">
		<input type="hidden" th:field="*{bandId}" class="form-control"/>
		  	<label for="bandName">Name of the project</label>
			<input type="text" id="bandName" th:field="*{bandName}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="memberCount">Number of members</label>
			<input type="text" id="memberCount" th:field="*{memberCount}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="foundYear">Founded</label>
			<input type="text" th:field="*{foundYear}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="labelCompany">Label</label>
			<input type="text" th:field="*{labelCompany}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="endYear">Disbanded</label>
			<input type="text" th:field="*{endYear}" />
			
			
    		
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>