<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of songs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
         <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    
</head>
<body>
	<h1>Songs</h1>
	<div sec:authorize="hasRole('USER')">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table class="table table-striped">
		<tr>
		    <th>Name of the song</th>
		    <th>Song length</th>
		   
		    
		    <th sec:authorize="hasRole('USER')"> </th>
		</tr>  
    	<tr th:each = "song : ${songs}">
    		<td th:text="${song.songName}"></td>
    		<td th:text="${song.songLength}"></td>
    		
    	
			<td sec:authorize="hasAuthority  ('USER')"><a th:href="@{/delete/{id}(id=${song.songId})}" class="btn btn-xs btn-danger">Delete</a></td>  			
			<td><a th:href="@{/editsong/{id}(id=${song.songId})}">Edit</a></td>      		
    	</tr>
     </table>
	 <a href="/addsong">Add song</a>
	 	 <a href="/albumlist">Go back</a>    	
	     	
</body>
</html>